@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	
}
/* campana */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    

    
}

#modal-content {
    background-color: #fff;
    padding: 26px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    position: relative;
    bottom: 180px;
    left: 580px;
    justify-content: right;
    display: grid;
    
}

.close-btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff; 
    right: 10px;
    height: 50px; 
    width: 100px; 
    background-color: #2a5298; 
    border: none; 
    border-radius: 3px; 
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
   display:  inline-block;
   text-align: center;
   margin-top: 15px;

   
 
}


.close-btn p  {
    margin-top: 10px;
   
 
}



/* foiuwfbiow */

body {

	line-height:30px;
	overflow-x: hidden;
	
}



/*css de el Menu*/


.logo {
  width: 220px;
  height: 75px;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  position: absolute;
}

.a{
    position: absolute;
    z-index: 2;
}
nav {
    padding: 0px;
	margin: 0px ;
	font-family: sans-serif;
    z-index: 0;
  
}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    text-align: right;
    
}
	
nav ul li {
	display:inline-block;
	
	}

nav a {
	display:block;
	padding:0 1.3em;	
	color:#ffffff ;
	font-size:1.3em ;
	line-height: 4em;
	text-decoration:none;
    font-weight: 100;

    
}

nav a:hover{

    color: #000000;
}

.nav-list {
    list-style-type: none;
    
}
.nav-list a{
    color: #000000;    
}
.abrir-menu,.cerrar-menu {
    display: none;
    width: 100px;
    height: 100px;
    
    
}




/* medias querys para menu hamburguesa*/

@media screen and (max-width: 1120px) {
    .header1{
        display: flex;
        justify-content: end;
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        
    }

    .abrir-menu {
        color: #1c1c1c;
        
    }

    .cerrar-menu {
        color: #ececec;
        position: relative;
    }

    .header {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 300vmax rgba(0, 0, 0, .5);
    }

    .header.visible {
        opacity: 2;
        visibility: visible;
        z-index: 2;
    }
    
    .header-list {
        flex-direction: column;
        align-items: end;
    }

    .header-list li a {
        color: #ffffffec;
    }
    .logo{
       display: flex;
       
    }
    nav ul li {
        display:flex;
        
    }
    .nav-list a{
        color: #ffffff;    
    }
    .mensaje{
        z-index: 0;
    }
    .chat-caja{
        height: 700px;
    }
    .hero__waves{
        margin-top: 120px;
    }
}

/* media query de el menu hamburguesa cuando esta mas peque침o*/
@media screen and (max-width: 800px) {
    .header.visible {
        
        width: 300px;
        
    }
    .abrir{
        width: 50px;
        height: 80px;
    }
    .cerrar{
        width: 50px;
        height: 80px;
    }
    

    @media (max-width: 500px){
        .header.visible{
            width: 265px;
        }
        .logo{
            width: 150px;
            height: 60px;
        }
    }
    
}


@media screen and (max-width: 1100px) {
    

    .hero__main {
        
        grid-template-columns: 1fr;
        gap: 2em;
    }
}


/* fin*/
.hero{

    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #fff;
    display: grid;
    grid-template-rows:max-content 1fr;
    grid-template-areas: 
    "nav"
    "content";
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   

}

/* Hero main */

.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px; 
    align-items: center;
   
	
}

.hero__waves{
    
    grid-area: content;
    align-self: end;
    
    
}



.hero__title{
    font-size: 4.2rem;
    letter-spacing: 3px;
	line-height: 60px;
	color: #fff;
    height: 30%;
    width: 100%;
    
}

.hero__subtitle{
    margin-top:1rem;
    margin-bottom: 1.5rem;
    font-size: 2.9rem;
    font-weight: 300;
    color: #fff;
    line-height: 45px;
}

.hero__cta{
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background-color: #fff;
    color: #1e3c72;
}



/* responsive de los heros*/



@media  (max-width:500px) {

   
    .nav__list{
        display: none;

    }

    .nav__menu{
        display: block;
    }
    .hero__title{
        font-size: 2.3em;
        letter-spacing: 2px;
        width: 280px;
    }
    .hero__subtitle{
        font-size: 2em;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    .hero__waves{
        margin-top: 150px;
    }

   

    
    
    @media  (max-width:500px) {
    .nav__list{
        display: none;

    }

    .nav__menu{
        display: block;
    }
    .hero__title{
        font-size: 2.2em;
    } 
    
}
}



/* fin responsive*/






/*css de la pagina*/

.title{
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
	font-size: 36px;
	font-weight: 100;
	margin-top: 100px;
}

.texto{
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	width: 500px;
	
	
}

.texto h1{

	font-size: 35px;
	position: relative;
	padding-top: 200px;
	margin-top: 200px;
	color: black;

}

.linea2{

    background: rgb(96, 199, 255);
    width: 100px;
    height: 2px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 0px 1px;
    bottom: 700px;
    top: 30px;
}





body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* CSS del chat*/
.container {
	
	width: 40%;
    height: 70%;
	margin-top: 300px;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    box-sizing: border-box;
    color: #000000;
    font-weight: 600;
    
}
.contenedor {
	
	width:100%;
	margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    box-sizing: border-box;
    color: #000000;
    font-weight: 600;
    
}

.chat-caja {
    width: 70em;
    background-color: #dddada;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    height: 600px;
    
    
  }
  

  .chat-body {
    padding: 25px;
    height: 450px;
    max-height: 700px; 
    overflow-y:auto; 
  }
  
  .mensaje {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
   
  }
  .mensaje div{
    font-size: 22px;
   
  }
  
  .MensajeroNES {
    background-color: #ffffff;
  }
  
  
  
  .mensaje p {
    font-size: 24px;
    color: #000000;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .chat-footer {
    padding: 10px;
    background-color: #bcc0c7;
    display: flex;
    height: 300px;
  }
  .footer{
    background-color: #bcc0c7;

  }
  form{
    width: 100%;
    
  }
  .chat-footer input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 78%;
    height: 45px;
   
    
  
  }
  
  .chat-footer button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 3em;
  }
  
  
  @keyframes chatAnimation {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chat-caja .mensaje {
    animation: chatAnimation 0.3s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.1s;
  }
  .mensaje div{
    animation-fill-mode: both;
    animation-delay: 0.1s;
    animation: chatAnimation 0.4s ease-in-out;
  }

/* css para funcionalidad de botones*/

.botones{
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    
}
.botones button{

    background-color: #4285f4;
    color: white;
    border: none;
    width: 13.8em;
    margin: 0.4em;
    height: 4.1em;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    
}
button:hover{
    transition: all 0.9s;
    background-color: #2c47be;

}


.respuesta1{
    display: contents;
}

.respuesta11{
    display: none;
}



input[type='file'] {
    /* Ocultar el campo de entrada real */
    position: absolute;
    left: -9999px;
    
  }

  /* Estilizar el bot칩n de selecci칩n personalizado */
  .custom-file-upload {
    display: none;
    padding: 12px 12px;
    cursor: pointer;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    
  }
  .custom-file-upload:hover {
    transition: all 0.9s;
    background-color: #2c47be;
    
  }

  /* Estilizar el contenedor para el bot칩n personalizado */
  .file-upload-wrapper {
    position: absolute;
    display: inline-block;
    
    
    
  }

  /* Estilo para mostrar el nombre del archivo seleccionado */
  .file-upload-wrapper input[type='text'] {
    /* Estilos para el texto visible */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 140px;
    box-sizing: border-box;
    
    overflow: hidden;
    
    
    }





.respuesta2{
    display: none;
}

.respuesta3{
    display: none;
    
}

.respuesta12{
    display: none;
}

.respuesta4{
    display: none;
    font-size: 18px;
}



/* responsive del chat */

.contenedor {
    flex: 1 0 30%; 
    
  }
  @media screen and (max-width: 1700px) {
    .hero {
       
        max-height: 1800px;
        align-items: center;
        flex-direction: column; /* esto sirve para converitir el contenedor en columna y ponerlo uno debajo de otro*/
    }
    .hero__texts{
        margin-top: -200px;
        text-align: center;
        margin-bottom: -100px;
    }
  
    
  }
  @media screen and (max-width: 1600px){
    
       
    .chat-caja{
        width: 50em;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1300px){
    
    .logo1{
        width: 25em;
    }
    .chat-caja{
        width: 50em;
        margin-bottom: 40px;
    }
    
}



  @media screen and (max-width: 850px) {
    
    .chat-caja{
        max-width: 650px;
        height: 630px;
        margin-bottom: 40px;
    }
    .botones button{
        width: 180px;
        height: 85px;
        font-size: 14px;
    }
    .abrir{
        width: 50px;
        height: 80px;
    }
    .cerrar{
        width: 50px;
        height: 80px;
    }
    

    @media screen and (max-width: 710px) {
    
        .chat-caja{
            max-width: 490px;
            height: 700px;
            margin-bottom: 40px;
        }
        .botones{
           display: flex;
           justify-content: center;
            

        }
        .botones button{
            width: 180px;
            height: 100px;
            font-size: 14px;
        }
        .chat-footer button {

            width: 100%;
            font-size: 16px;
            margin-left: 0;
            margin-top: 4px;
        }
        .file-upload-wrapper{
            padding: 0px 12px;
        }
        .chat-footer input[type='text']{
            width: 90%;
            height: 45px;
        }
        @media screen and (max-width: 520px) {
    
            .chat-caja{
                max-width: 340px;
                height: 700px;
                margin-bottom: 40px;
            }
            .botones{
               display: flex;
               justify-content: center;
                
    
            }
            .botones button{
                width: 150px;
                height: 80px;
                font-size: 10px;
            }
            .chat-footer button {
    
                width: 100%;
                font-size: 16px;
                margin-left: 0;
                margin-top: 4px;
            }
            .file-upload-wrapper{
               padding: auto;
               margin-left: -10px;
               margin-top: 5px;
            }
            .bi {
                width: 13px;
                height: 13px;
               
                
            }
            .chat-footer input[type='text']{
                width: 90%;
                height: 45px;
            }
        }
      
      }
      @media screen and (max-width: 450px) {
    
        .chat-caja{
            max-width: 340px;
            height: 700px;
        }
        .botones button{
            width: 150px;
            height: 80px;
            font-size: 10px;
        }
        
      }
  }




/* responsive logo */

@media screen and (max-width: 1300px){
    
    .logo1{
        width: 25em;
    }
}
@media screen and (max-width: 500px){
    
    .logo1{
        width: 15em;
    }
}

/* FIN del css del chat*/









/* CSS de el FOOTER*/

.footer-basic {
    
    background-color:#ffffff;
    color:#000000;
    overflow-x: hidden;
    margin-top: 20px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6em;
    margin-bottom:0;
    
  }
  
  .footer-basic li {
    padding:0 1em;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:2em;
    height:2em;
    line-height:2em;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #000000;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:2rem;
    text-align:center;
    font-size:13px;
    color:#000000;
    margin-bottom:0;
  }

  .list-inline{

    display: flex;
    text-align: center;
    justify-content: center;
  }

  .social{

    margin-left: 20px;
  }
  
  /* responsive del footer */
  @media screen and (max-width: 550px){
   
    .footer-basic ul{
        display: none;
    }
  }

  
