


.caja1{

    margin-left: 620px ;
    width: 500px;
    height: 600px;
    display: flex;
    margin-top: 150px;

}

.contenedor{

    justify-content: center;

    background-color: rgb(237, 237, 237);
    width: 1050px;
    height: 450px;
    display: flex;


}

.contenedor img{

    padding: 50px;
    margin-top: 0px;



}

.txt2{

    width: 250px;
    height: 300px;
    border: 4px white solid;
    margin-left: -400px;
    margin-left: 60px;
}

.text2 p{
    margin-top: 110px;
    margin-right:30px ;
    margin-left:30px;
    width: 360px;
    height:300px ;
    font-size: 22px;
}

.linea{
    background: rgb(96, 199, 255);
    width: 0px;
    height: 400px;
    margin-top: 30px;
    border-radius: 5px;
   
   padding: 0px 1px;
    
   display:flex;
    top: 30px;
   
  }

