
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;

}



.hero{
    background-image: linear-gradient(to top, #fcfcfc 0%, #ffffff 1%, #ffffff 100%);
    color: #fff;
    display: grid;
    grid-template-rows:max-content 1fr;
    grid-template-areas: 
    "nav"
    "content";
    min-height: 100vh;
    margin: 0;
    
}



#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    

    
}

#modal-content {
    background-color: #fff;
    padding: 26px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    position: relative;
    bottom: 180px;
    left: 580px;
    justify-content: right;
    display: grid;
    
}


.circle-fill {
    padding-left: 1px;
}

.textocontenet { 
    font-family:"Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000000;
}


.close-btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff; 
    right: 10px;
    height: 50px; 
    width: 100px; 
    background-color: #2a5298; 
    border: none; 
    border-radius: 3px; 
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
   display:  inline-block;
   text-align: center;
   margin-top: 15px;

   
 
}


.close-btn p  {
    margin-top: 20px;
   
 
}





  nav {
    padding: 0px;
	margin: 0px ;
	font-family: sans-serif;
  
}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    text-align: right;
    margin-top: 1em;
}
	
nav ul li {
	display:inline-block;
    padding-right: 30px;
	
	}

nav a {
	display:block;
	padding:0 1.3em;	
	color:#000000 ;
	font-size:1.3em ;
	line-height: 4em;
	text-decoration:none;
    font-weight: 100;

    
}


.nav-list {
    list-style-type: none;
    gap: 1rem;
}
.abrir-menu,.cerrar-menu {
    display: none;
    width: 50px;
    
}


@media screen and (max-width: 800px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .header {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .header.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .header-list {
        flex-direction: column;
        align-items: end;
    }

    .header-list li a {
        color: #ecececec;
    }
    .logo1{
        width: 20em;
    }
    
}


/* media query de el menu hamburguesa cuando esta mas pequeño*/
@media screen and (max-width: 800px) {
    .header.visible {
        
        width: 300px;
    }

    @media (max-width: 500px){
        .header.visible{
            width: 265px;
        }
    }
    
}


@media screen and (max-width: 1100px) {
    

    .hero__main {
        
        grid-template-columns: 1fr;
        gap: 2em;
    }
}


.hero__main{
    grid-area: content;
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 12em; 
    align-items: center;
    
}

.hero__waves{
    grid-area: content;
    align-self: end;
}



.hero__title{
    font-size: 3.5rem;
    letter-spacing: 2px;
    
}


.logo1{

    width: 40em;
}

@media screen and (max-width: 1300px){
    
    .logo1{
        width: 25em;
    }
}
@media screen and (max-width: 500px){
    
    .logo1{
        width: 15em;
    }
}



.hero__subtitle{
    margin-top:1rem;
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    font-weight: 300;
}

.hero__cta{
    text-decoration: none;
    color: #fff;
    padding: 1em 3.5em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background-color: #fff;
    color: #1e3c72;
}

.hero__img{
    width: 100%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #070707bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 1em;
    font-size: 1.2rem;
    line-height: 1.5;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #f12207;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #ff1e00;
    background-color: #fff;
}


@media  (max-width:1100px) {
    .nav__list{
        display: none;
    }

    .nav__menu{
        display: block;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }
    
}


@media  (max-width:500px) {
    .nav__list{
        display: none;

    }

    .nav__menu{
        display: block;
    }
    .hero__title{
        font-size: 2.2em;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }

    .modal__container{
        padding: 1em 1em;
    }

    .modal__title{
        font-size: 1rem;
    }
    
    
}

#map {
    height: 80%;
    width: 80%;
    padding-top: 40px;
    margin-left: 50px;
    margin-top: 40px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
  }
  




.main{
	width: 500px;
	height: 500px;
	background: rgb(22, 92, 167);
	overflow: hidden;
    background-color: #2d22c4;
	border-radius: 10px;
	box-shadow: 1px 10px 30px #000;
    margin-top: -60px;
    
}
@media screen and (max-width: 600px){
    
    .main{
        width: 350px;

    }
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 500px;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
    
}
input{
	width: 60%;
	height: 25px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #0c3386;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.login{
	height: 460px;
    
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
    
}
.login label{
	color: #1963be;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}







#imagenmap {
    margin-left: 200px;
    position: center;
    height: 600px;
    width: 900px;
    justify-content: center;
    align-items: center;
  
}



@media screen and (max-width: 1500px) { 

    
        
.mapatitulo{
    background-color: #2a5298;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    

}


#imagenmap {
   
    position: center;
    height: 700px;
    width: 900px;
    justify-content: center;
    align-items: center;
  
}







}



@media screen and (max-width: 908px) { 

    
#imagenmap {
   
    position: center;
    height: 600px;
    width: 900px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  
}



}



@media screen and (max-width: 816px) { 

    #imagenmap {
   
        position: center;
        height: 500px;
        width: 700px;
        justify-content: center;
        align-items: center;
        margin-left: -30px;
      
    }


}


@media screen and (max-width: 525px) { 

    #imagenmap {
   
        position: center;
        height: 520px;
        width: 600px;
        justify-content: center;
        align-items: center;
        margin-left: -30px;
      
    }

}

@media screen and (max-width: 414px) { 

#imagenmap {
   
        position: center;
        height: 520px;
        width: 300px;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
       
    }

    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        margin-left: 100px;
    
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .header {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .header.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .header-list {
        flex-direction: column;
        align-items: end;
    }

    .header-list li a {
        color: #ecececec;
    }
    .logo1{
        width: 20em;
    }
    nav ul li {
        display:flex;
        
        }

}


